
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

a, a:link
	cursor pointer

body
	padding-top 40px
    font-size 14pt
    line-height: 18pt
    font-family "PT Serif", serif

h1, h2, h3
    font-family "PT Sans"
    font-weight 700

h1
    font-size: 36pt
    margin 0
    line-height 42pt

h1 a
  color black

h2
    font-size 18pt
    margin: 0

h3
    font-size 14pt
    margin 0

.top-buffer
    padding-top 50px

.paper
    font-size: 12pt

.navigation
    font-family "PT Sans"

.nav li a
    margin-top 5px !important
    color white !important
    font-weight normal
    text-shadow none !important

.nav li:hover, .nav li:active, .navbar .nav .active,
.navbar .nav .active > a, .navbar .nav .active > a:hover
    background: #4F2F4F


.navigation.affix
    position fixed
    top 0px


.navbar-inner {
  background-color: #6B238E;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#6B238E), to(#9370DB)); /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(45deg, #6B238E, #9370DB); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image:    -moz-linear-gradient(45deg, #6B238E, #9370DB); /* Firefox 3.6-15 */
  background-image:      -o-linear-gradient(45deg, #6B238E, #9370DB); /* Opera 11.10-12.00 */
  background-image:         linear-gradient(to top right, #6B238E, #9370DB); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

#maincontent ul li
    list-style-type none
    padding 2px
    color #8F8FBD

#maincontent ul
    font-size 12pt
    border-left 5px solid #8F8FBD
    padding-left 15px

pre
  padding 0
  background white

p
  padding-top 5px
  padding-bottom 5px

ol li, ul li
  line-height 18pt
  padding 3px

.navlist ul, .navlist li, .navlist
  display inline
  font-size 14pt
  margin 0

.navlist li:after
  content ","

.navlist li:first-child:before
  content "Below: "

.navlist li:last-child:before
  content "and "

.navlist li:last-child:after
  content "."
