---
layout: layouts/base.njk
permalink: /404.html
title: 404 Not Found
---
<div class="row">
  <div class="offset2 span8">
    <h1>File not found.</h1>
    <hr>
    <h1><a href="/">Home.</a></h1>
  </div>
</div>
